@font-face {
  font-family: "IRANSansMobile";
  src: local("IRANSansMobile"),
    url(./assets/fonts/IRANSansMobile.ttf) format("truetype");
}

@font-face {
  font-family: "IRANSansMobile_Light";
  src: local("IRANSansMobile_Light"),
    url(./assets/fonts/IRANSansMobile_Light.ttf) format("truetype");
}

@font-face {
  font-family: "BYekan";
  src: local("BYekan"), url(./assets/fonts/BYekan.ttf) format("truetype");
}
